version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
    groups:
      production:
        dependency-type: production
      development:
        dependency-type: development
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(deps):"
    labels:
      - dependencies

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    commit-message:
      prefix: "ci(deps):"
    labels:
      - dependencies
      - ci
