dist/
.idea/
.vscode/
.husky/_/
**/gen/
**/gen-ts/
**/keys/
**.log
**.crt
**.key
**.pem
**.lock
**.db
**.db-shm
**.db-wal
**.txt
**.node
.npmrc
npm-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
coverage/
.turbo/
*.lcov
.nyc_output
node_modules/
.npm/
.node_repl_history
*.tgz
.env
.env*
!.env.example
.vscode-test
packages/contracts/proto/
packages/contracts/src/index.js
packages/contracts/src/web.js
target/
packages/**/docs/
**/target/
/otel-storage
**/include/build
**/include/bin
tests/performance/results/
