name: Snapshot

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  snapshot:
    name: Publish PR Snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "25.2.0"
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - name: Generate Protobuf
        run: pnpm turbo run build:proto

      - name: Build packages
        run: pnpm build

      - run: pnpx pkg-pr-new publish --pnpm './packages/*'
